body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  width: 400px;
  height: 30px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

.todos-container {
  text-align: center;
}

.add-btn {
  background-color: #05254b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 900;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.todo-item {
  background: #f1f1f1;
  margin: 10px auto;
  padding: 10px 15px;
  border-radius: 8px;
  width: 500px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  text-wrap: inherit;
  justify-content: space-between;
  align-items: center;
}

.delete-btn,
.update-btn {
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  background-color: crimson;
  color: white;
}

.update-btn {
  background-color: #ffc107;
  color: black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modal-form input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-actions button:first-child {
  background-color: #021930;
  color: white;
}

.modal-actions button:last-child {
  background-color: #ccc;
}

.welcomeTitle {
  margin-top: 50px;
}
